<div class="vacantes" th:fragment="vacanteCompleta" style="margin-top:30px;">
	<div class="informacion-general">
		<h3 class="titulo-vacante">HENKEL</h3>
		<p class="vacante">Vacante: Employer Reputation Intern
		</p>
		<p class="objetivo">Objetivo</p>
		<p class="descripcion">Crece y gana experiencia profesional en una empresa
			líder a niXel mundial en productos adhesivos, de belleza
			y cuidados del hogar</p>

		<div class="body-login">
			<div>
				<p class="objetivo">Fecha de inicio:</p>
				<p class="objetivo">Sueldo:</p>
				<p class="objetivo">Modalidad:</p>
				<p class="objetivo">Beneficios:</p>

			</div>
			<div>
				<p class="descripcion">6 de Abril</p>
				<p class="descripcion">$6000 mensual</p>
				<p class="descripcion">Presencial</p>
				<p class="descripcion">Apoyo de transporte y comida</p>
			</div>
		</div>
	</div>

	<div class="especialidad">

		<p class="objetivo">Licenciatura</p>
		<ul class="descripcion">
			<li>Mercadotecnia</li>
			<li>Negocios</li>
			<li>Administración de empresas</li>
		</ul>
		<div class="body-login">
			<div>
				<p class="objetivo">Fecha de vigencia:</p>
				

			</div>
			<div>
				<p class="descripcion">30 de Marzo</p>
			
			</div>
		</div>
	</div>

	<div class="especialidad">
		<div class="iconos-vacantes">
			<button type="button" class="btn-icons"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
					fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16" style=margin-right:20px;>
					<path
						d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
				</svg></button>


			<button type="button" class="btn-icons"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
					fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
					<path
						d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
				</svg></button>
		</div>
		<p class="descripcion"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-calendar iconos-text" viewBox="0 0 16 16">
				<path
					d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
			</svg>12 meses</p>

		<p class="descripcion"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-clock iconos-text" viewBox="0 0 16 16">
				<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
			</svg>Medio tiempo</p>

		<p class="descripcion">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-geo-alt iconos-text" viewBox="0 0 16 16">
				<path
					d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
				<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
			</svg>Cuernavaca, Morelos
		</p>
		


	</div>

</div>
