<!DOCTYPE html>
<html lang="es">

<head th:insert="fragments/bootstrap::css">

	<title>Error 500</title>
</head>
<header></header>


<body class="body-error">
<h1 class="titulo_error">500</h1>
<div class="imagen"><img src="/images/500.png" alt="error 500" height="500"width="auto"/></div>
<div class="texto_error">UPS...AL PARECER ALGO ESTA MAL, EN UN MOMENTO LO ARREGLAMOS</div>
<div class="div-boton"><a th:href="@{/talenting/inicio}"><button type="submit" class="boton">Regresar</button></div></a>

</body>

</html>