<!DOCTYPE html>
<html lang="es">

<head th:insert="fragments/bootstrap::css">

	<title> Recuperar constraseña</title>
</head>
<header></header>


<body class="body-login">
	<div class="izquierdo">
		<div class="imagen"><img src="/images/logo.png" alt="logo" height="150" width="auto" /></div>
		<div><img src="/images/password.png" alt="login-image" height="400" width="auto" /></div>
	</div>

	<div class="derecho">
		<h1 class="titulo-login">Recuperar contraseña</h1>

		<form action="" method="post" class="formulario">
			<p class="text-form">Correo eléctronico o usuario*</p>
			<div class="input-group mb-3">

				<input type="email" class="form-control" aria-describedby="email" required>
			</div>
			
		


	</form><!--cambiarlo 	abajo de los div -->
		<div class="botones-cuenta">
			<a th:href="@{/talenting/inicio}"><button type="submit" class="boton-lila">Página de inicio</button>
				</a> 
		<a th:href="@{/talenting/inicioCandidato}"><button type="submit" class="boton">Recuperar</button>
				</a> 	
				
		</div>
	
		



	</div>
</body>

</html>