<!DOCTYPE html>
<html lang="es">

<head th:insert="fragments/bootstrap::css">

	<title>Perfil contacto</title>
</head>




<body class="body">
	<header th:insert="fragments/header::header"></header>
	<div class="fondo-lila">
		<div class="portada">
			<div class="imagen-perfil body-login">
				<img src="/images/perfil.jpg" alt="imagenes-perfiles" class="imagenes-perfiles contorno" height="200px"
					width="200px" />
			
			</div>

		</div>
		<div class="section-name">
			<h2 style="color: #F2F2F9;">Lorena Casas Montes</h2>
			<p class="oficio">Desarrolladora de software</p>

		</div>
		<div class=section-experience>
			<div class="heading">
				<h3 style="color: #F2F2F9;">Experiencia</h3>
			</div>
			<div class="info-experience">
				<p class="objetivo">Desarrolladora Front end</p>
				<p>Microsoft</p>
				<p>Julio 2022- actualidad</p>
				<p>Concepción y desarrollo de un sitio web tomando en cuenta la
					experiencia de usuario y su posicionamiento con el objetivo de
					aumentar sus visitas y ventas.</p>
			</div>
		</div>

		<div class=section-experience>
			<div class="heading">
				<h3 style="color: #F2F2F9;">Eduación</h3>
			</div>
			<div class="info-experience">
				<p class="objetivo">Ingenería en tecnologías de la información
				</p>
				<p>Universidad del Valle de México</p>
				<p>Julio 2018- Julio 2022</p>
				<p>Ingenería en gestión y desarrollo de software</p>
			</div>
		</div>

		<div class=section-experience>
			<div class="heading">
				<h3 style="color: #F2F2F9;">Certificaciones</h3>
			</div>
			<div class="info-experience">
				<p class="objetivo">Certificación en Oracle cloud computing

				</p>
				<p>Oracle
				</p>
				<p>Julio 2018- Julio 2022</p>
				<p>Cerifiación de servicios en la nube de Oracle</p>
			</div>
		</div>

		<div class="section-experience">
			<div class="heading">
				<h3 style="color: #F2F2F9;">Idiomas</h3>
			</div>
			<div class="padre-cards">
				<div class="body-login">
					<div class="idioma">Ingles</div>
					<div class="nivel">
						<p>Avanzado</p>
						<p>TOEFL</p>
						<p>Vigencia: Julio 2025</p>
					</div>

				</div>

				<div class="padre-cards">
					<div class="idioma">Francés</div>
					<div class="nivel">
						<p>Avanzado</p>
						<p>DELF B2</p>
						<p>Vigencia: Julio 2025</p>
					</div>

				</div>
			</div>
		</div>
		<div class="section-experience">
			<div class="heading">
				<h3 style="color: #F2F2F9;">Conocimientos y habilidades</h3>
			</div>
			<div class="knowledge-section">
				<div class="conocimiento">
					<p class="objetivo">Conocimientos</p>
					<div class="mini-card">Desarrollo web</div>
				</div>
				<div class="conocimiento">
					<p class="objetivo">Habilidades</p>
					<div class="mini-card">Trabajo en equipo</div>
				</div>

			</div>
		</div>

	</div>



</body>

</html>